@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(31, 28, 28);
  background-image: linear-gradient(rgb(31, 28, 28), rgb(55, 51, 51));
  background-size: contain;
  background-repeat: no-repeat;
}

.flex-box {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

div.img {
  margin: 0;
  padding: 0;
}

img {
  width: 296px;
}

h1 {
  font-size: 64px;
  color: rgb(248, 241, 241);
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

button {
  height: 4rem;
  width: 8rem;
  border-style: none;
  font-size: 20px;
  color: rgb(248, 241, 241);
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
}

div > .start {
  background-color: #00a37a;
}

div > .pause {
  background-color: rgb(117, 117, 117);
}

div > .stop {
  background-color: rgb(220, 58, 58);
}
